<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/index.css" />
    <script src="/jquery.3.4.1.min.js"></script>
    <script src="/index.js"></script>
</head>
<body>
    <form id="cangjie">
        <input type="text" placeholder="cangjie">
        <button type="submit">Get</button>
    </form>
    <form id="code">
        <input type="text" placeholder="code">
        <button type="submit">Get</button>
    </form>
    <form id="editor">
        <img id="glyph-view"></img>
        <textarea name="component" rows="20"></textarea>
        <button type="submit">Render</button>
    </form>
</body>
</html>