<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/index.css" />
    <script src="/jquery.3.4.1.min.js"></script>
    <script src="/index.js"></script>
</head>
<body>
    <form id="cangjie">
        <input type="text" placeholder="cangjie">
        <button type="submit">Get</button>
    </form>
    <form id="code">
        <input type="text" placeholder="code">
        <button type="submit">Get</button>
    </form>
    <div class="container">
        <img id="glyph-view"></img>
        <div class="editors">
            Component
            <form id="editor">
                <textarea name="component" rows="15"></textarea>
                <button type="submit">Render</button>
            </form>
            Path
            <form id="path-editor">
                <textarea name="component" rows="10"></textarea>
                <button type="submit">Render</button>
            </form>
        </div>
    </div>
</body>
</html>