
#glyph-view, #path-view {
    width: 512px;
    height: 512px;
    border: 1px solid black;
}

form > textarea, form > select, form > input {
    width: 300px;
}

.container {
    display: flex;
    flex-direction: row;
}

.editors {
    display: flex;
    flex-direction: column;
}
